@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");

:root {
  --bg-clr-primary: #ffffff;
  --bg-clr-secondary: #f9fafa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  transition: scrollbar-color 0.5s;
}

body {
  scrollbar-width: thin;
  transition: scrollbar-color 0.5s;
  scrollbar-color: #888 #f1f1f1;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Noto Sans Georgian", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555f62;
  background-color: #f9fafa;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  --scrollbar-opacity: 1;
}

body::-webkit-scrollbar {
  width: 12px;
  transition: opacity 0.5s;
  opacity: var(--scrollbar-opacity);
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

ul,
ol {
  list-style: none;
}

a,
p {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-style: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

input,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.main-content {
  flex: 1;
  overflow: hidden;
}

.main-content.hamburger-clicked {
  display: none;
}

/* Header styling */

.site-header {
  z-index: 100;
  max-width: 1600px;
  padding: 0px 160px;
  display: flex;
  position: fixed;
  border-bottom: 1.25px solid rgba(4, 4, 4, 0.1);
  width: 100%;
  min-height: 80px;
  background-color: var(--bg-clr-primary);
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  width: 100%;
  position: relative;
}

.header-container > a {
  display: flex;
  height: 50px;
  align-items: center;
}

.header-container > a svg {
  width: 22px;
  height: 22px;
  margin-right: 11px;
}

.header-container > a h1 {
  font-size: 1.5rem;
  font-size: 20px;
  position: relative;
  letter-spacing: 1px;
}

.header-container > a h1::before {
  content: "";
  min-height: 30px;
  width: 1px;
  top: 3px;
  left: -5px;
  position: absolute;
  background-color: #555f62;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.header-nav {
  display: none;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.header-container nav ul {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.header-nav li {
  display: flex;
}

.header-nav li:not(:last-child) {
  margin-right: 40px;
}

.header-nav button {
  font-size: 1rem;
  position: relative;
  letter-spacing: 0.2px;
}

.product-dropdown {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  min-height: 248px;
  display: none;
  top: 80px;
  left: -160px;
  width: calc(100% + 320px);
  background-color: rgb(255, 255, 255);
}

.header-nav button::after {
  background-color: #182cc0;
  height: 2px;
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 0%;
  transition: width 0.8s ease;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-nav button.clicked::after {
  width: 100%;
}
.header-nav button.clicked ~ .product-dropdown {
  opacity: 1;
  pointer-events: auto;
  display: block;
}

.header-nav button.clicked .button-dropdown {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.6s ease-in-out;
}

.header-nav button .button-dropdown {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 200;
  display: none;
  padding-top: 28px;
  min-width: 150px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  position: absolute;
  top: 80px;
}

.header-nav button .button-dropdown a {
  font-size: 14px;
  font-weight: 550;
  transition: color 0.25s ease-in-out;
}

.header-nav button .button-dropdown a:first-child {
  display: flex;
  text-align: left;
}

.header-nav button .button-dropdown a:hover {
  color: #182cc0;
}

.card-img-container {
  opacity: 1;
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
  padding: 30px 0px 0px 140px;
  transition: opacity 1s ease-in-out;
}

.product-dropdown .card-img-container > div a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-dropdown .card-img-container > div a p {
  color: #1629ae;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.product-dropdown .card-img-container > div svg {
  fill: #1629ae;
  transition: color 0.4s ease;
}

.header-container .button-box {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.button-box div:not(.hamburger-menu-container),
.footer-top > div:last-child {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-icon {
  fill: #555f62;
  transition: fill 0.5s ease;
  cursor: pointer;
  vertical-align: middle;
}

.search-icon:hover {
  fill: #3295ce;
}

.arrow-icon {
  fill: #1629ae;
  transition: fill 0.4s ease;
}

.subscribe-box {
  cursor: pointer;
}

.subscribe-box a:not(.english-switch-button) {
  display: flex;
  align-items: center;
}

.subscribe-box p {
  color: #1629ae;
  transition: color 0.4s ease;
  font-weight: bold;
}

.subscribe-box:hover p {
  color: #3295ce;
}

.subscribe-box:hover .arrow-icon {
  fill: #3295ce;
}

.button-box .language-box,
.footer-top > div:last-child {
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}

.button-box .language-box:hover,
.footer-top > div:last-child:hover {
  background-color: #eef1f1;
}

.button-box .language-box::after,
.footer-top > div:last-child::after {
  content: "";
  position: absolute;
  top: 30px;
  background-color: transparent;
  height: 20px;
  width: 50px;
}

.button-box .language-box p,
.footer-top > div:last-child p {
  font-weight: bold;
  font-size: 16px;
}

.button-box .language-box svg,
.footer-top > div:last-child svg {
  fill: #555f62;
  vertical-align: middle;
}

.button-box .language-box .english-switch-button,
.footer-top > div:last-child .english-switch-button {
  position: absolute;
  top: 44px;
  color: #141719;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  padding: 12px 2px;
  width: 65px;
  right: 0;
  z-index: 10;
  font-weight: 500;
  display: none;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
}

.button-box .language-box .english-switch-button span,
.footer-top > div:last-child .english-switch-button span {
  width: 100%;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.4s ease;
}

.button-box .language-box .english-switch-button span:hover,
.footer-top > div:last-child .english-switch-button span:hover {
  background-color: #f9fafa;
  width: 100%;
}

.button-box .language-box.hovered .english-switch-button,
.footer-top > div:last-child.hovered .english-switch-button {
  display: flex;
}

.hamburger-menu-container {
  width: 40px;
  height: 32px;
  cursor: pointer;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  grid-row-gap: 5px;
}

.hamburger-menu-container div {
  background-color: #555f62;
  height: 2px;
  border-radius: 2px;
  transition: transform 0.5s, opacity 0.5s, width 0.5s;
}

.hamburger-line-1 {
  width: 11px;
}

.hamburger-line-2 {
  width: 20px;
}

.hamburger-line-3 {
  width: 15px;
}

.hamburger-menu-container.clicked .hamburger-line-1 {
  width: 23px; /* Match the longest line for alignment */
  transform: translateY(6px) rotate(-45deg);
  transform-origin: center;
}

.hamburger-menu-container.clicked .hamburger-line-2 {
  opacity: 0;
}

.hamburger-menu-container.clicked .hamburger-line-3 {
  width: 23px;
  transform: translateY(-6px) rotate(45deg);
}

.hamburger-menu-container.clicked ~ .main-content {
  display: none;
}

.sideBar-overlay {
  position: fixed;
  background-color: rgba(4, 4, 4, 0.4);
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.25s ease-in-out;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
  height: 100vh;
  width: 600px;
  opacity: 0;
  background-color: white;
  top: 0;
  right: 0;
  overflow-y: auto;
}

.sidebar .sidebar-top {
  display: flex;
  align-items: center;
  margin: 32px 56px;
  justify-content: space-between;
}

.sidebar-top h2 {
  color: #141719;
  font-size: 23px;
}

.sidebar-top .sidebar-close {
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  background-image: url("./images/sidebar-close.svg");
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #eef1f1;
}

.sideBar-overlay.opened {
  opacity: 1;
  pointer-events: auto;
}

.sideBar-overlay.opened .sidebar {
  opacity: 1;
  pointer-events: auto;
}

.sidebar-top .sidebar-close:hover {
  background-color: #f6f8f8;
}

.sidebar-main {
  border-top: 1.25px solid rgba(4, 4, 4, 0.1);
  padding: 50px 56px 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto; /* Ensure the main section is scrollable */
}

.sidebar-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-form > p {
  font-size: 16px;
}

.sidebar-form .input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
  font-size: 12px;
}

.input-wrapper input,
textarea {
  width: 100%;
  z-index: 11;
  height: 56px;
  color: #141719;
  border: 1px solid #eef1f1;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 0px 20px;
  font-size: 14px;
  position: relative;
  background-color: transparent;
}

.input-wrapper textarea {
  min-height: 150px;
  padding-top: 15px;
}

.input-wrapper label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f8f8;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 14px;
  z-index: 10;
}

.input-wrapper label span {
  color: #da1a1c;
}

.input-wrapper input.active ~ label,
.input-wrapper input:focus + label,
.textfield.active ~ label,
.textfield:focus + label {
  padding-top: 1px;
  font-size: 11px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
}

.checkbox-wrapper label {
  font-size: 12px;
}

.checkbox-wrapper span {
  font-weight: 500;
  cursor: pointer;
}

.sidebar-bottom {
  border-top: 1px solid #eef1f1;
  justify-content: center;
  padding: 32px 56px;
}

.sidebar-bottom button:hover {
  background-image: linear-gradient(15deg, #3295ce, #3295ce);
}

.sidebar-bottom button {
  display: flex;
  width: 100%;
  color: white;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  text-align: center;
  font-weight: bold;
  padding: 16px 24px;
  font-size: 12px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 6px;
}

.sidebar-bottom button:disabled {
  text-align: center;
  color: #555f62;
  background-image: linear-gradient(15deg, #ccc, #ccc);
  cursor: auto;
}

.error-message {
  color: #da1a1c;
  display: none; /* Hide error messages by default */ /* Adjust spacing as needed */
}

.input-wrapper.error + .error-message,
.checkbox-wrapper.error + .error-message {
  display: inline;
  margin-top: 0px;
  font-size: 12px; /* Show error message if there's an error */
}

.input-wrapper.error input,
.input-wrapper.error .textfield {
  outline: 1px solid #da1a1c;
}

button:disabled {
  background-color: #ccc; /* Style for disabled button */
  cursor: not-allowed;
}

.popUp-menu {
  width: 56px;
  height: 56px;
  color: #fff;
  position: fixed;
  right: 23px;
  bottom: 40px;
  cursor: pointer;
  background-color: #424a4d;
  transition: background-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  overflow: hidden;
  z-index: 100;
}

.popUp-menu:hover {
  background-color: #676d70;
}

.popUp-menu svg {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 0;
  bottom: 0;
  fill: white;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.popUp-menu .dot-icon {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.popUp-menu .close-icon {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out 0.2s, visibility 0.2s ease-in-out 0.2s;
}

.popUp-menu.clicked .dot-icon {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popUp-menu.clicked .close-icon {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.popUp-menu.clicked ~ .popUp-menu-dropdown {
  opacity: 1;
  pointer-events: auto;
}

.popUp-menu-dropdown {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  z-index: 9;
  right: 23px;
  bottom: 110px;
  position: fixed;
}

.popUp-menu-dropdown > div {
  width: 56px;
  height: 56px;
  color: #fff;
  position: relative;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(4, 4, 4, 0.1);
  transition: background-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  z-index: 10;
}

.popUp-menu-dropdown > div a {
  cursor: none;
}

.popUp-menu.clicked ~ .popUp-menu-dropdown > div {
  cursor: pointer;
}

.popUp-menu.clicked ~ .popUp-menu-dropdown > div a {
  cursor: pointer;
}

.popUp-menu-dropdown > div svg {
  fill: #555f62;
}

.popUp-menu-dropdown > div:hover svg {
  fill: #fff;
  transition: fill 0.2s ease-in;
}

.popUp-menu-dropdown > div:hover {
  background-color: #3295ce;
  transition: background-color 0.2s ease-in;
}

.tooltip-text {
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  width: 130px;
  background-color: #424a4d;
  padding: 8px 3px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  bottom: 8px;
  right: 70px;
  margin-left: -60px;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #424a4d;
}

.popUp-menu-dropdown > div:hover .tooltip-text {
  opacity: 1;
}

/* Main Styling */

.main-container {
  max-width: 1100px;
  margin: 100px auto 0px;
}

.upper-section {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 55px;
  align-items: center;
}

.upper-section p {
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.upper-section svg {
  display: none;
}

.hero-section {
  background-image: url("./images/hero-sectiong-img.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  max-width: 1110px;
  min-height: 360px;
  background-blend-mode: darken;
  color: #fff;
  border-radius: 6px;
  position: relative;
  z-index: 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 0px -280px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.hero-section .inner-container {
  width: 100%;
  z-index: 1;
  position: relative;
  flex-direction: column;
  display: flex;
  margin-left: 60px;
  gap: 15px;
}

.inner-container h1 {
  margin-top: 0;
  letter-spacing: 1px;
  font-size: 26px;
  font-weight: bold;
}

.inner-container p {
  font-size: 17px;
}

.inner-container > p {
  margin-bottom: 10px;
}

.inner-container a {
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
  color: #fff;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  overflow: hidden;
}

.inner-container a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(15deg, #3295ce, #3295ce);
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.inner-container a svg {
  fill: white;
}

.inner-container a p {
  letter-spacing: 0.5px;
  font-size: 12px;
}

.inner-container a:hover::before {
  opacity: 1;
}

.subscribe-concept {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
}

.subscribe-concept p {
  color: #141719;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
}

.kit-section {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.kit-section .heading-wrapper {
  margin-top: 36px;
  margin-bottom: 36px;
}

.kit-section .heading-wrapper h2 {
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.kit-section .kit-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.kit-section .kit-grid > div {
  min-height: 256px;
  transition: transform 0.4s ease-in-out;
  color: #fff;
  background-color: #141719;
  border-radius: 8px;
  display: flex;
  z-index: 0;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.kit-section .kit-grid > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  bottom: 0;
  background-size: cover;
  background-position: 0px -280px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.kit-section .kit-grid > div:first-child::before {
  background-image: url("./images/kit-section-img-1.png");
}

.kit-section .kit-grid > div:nth-child(2)::before {
  background-image: url("./images/kit-section-img-2.png");
}

.kit-section .kit-grid > div:last-child::before {
  background-image: url("./images/kit-section-img-3.png");
}

.kit-section .kit-grid > div:hover::before {
  transform: scale(1.03);
}

.kit-section .kit-grid > div:last-child {
  grid-area: 1 / 2 / 3 / 3;
}

.kit-section .kit-grid > div > a {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  display: flex;
  gap: 12px;
  position: relative;
}

.kit-section .kit-grid > div > a div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.kit-section .kit-grid > div > a h3 {
  font-size: 24px;
  font-weight: 700;
}

.kit-section .kit-grid > div > a div p {
  text-decoration: underline;
  font-weight: 600;
  transition: opacity 0.2s ease-in-out;
  font-size: 16px;
}

.kit-section .kit-grid > div > a div svg {
  fill: white;
  transition: opacity 0.2s ease-in-out;
}

.kit-section .kit-grid > div > a div:hover p,
.kit-section .kit-grid > div > a div:hover svg {
  opacity: 0.6;
}

.kit-section .kit-grid > div > a div:hover p {
  text-decoration: none;
}

.data-section {
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin: 60px 0px;
}

.data-section div {
  background-color: #fff;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  align-items: flex-start;
  padding: 40px 48px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.data-section div h3 {
  color: #141719;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}

.data-section div p {
  font-weight: 500;
}

.digital-bank {
  padding-right: 15px;
  background-color: #fff;
  width: 100%;
  max-width: 1110px;
  position: relative;
  display: flex;
  min-height: 370px;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  padding-left: 10px;
  padding-bottom: 32px;
  display: flex;
  position: relative;
}

.digital-bank > div:first-child {
  width: 55%;
  grid-row-gap: 40px;
  flex-direction: column;
  flex: none;
  align-items: flex-start;
  display: flex;
}
.digital-bank > div:first-child h2 {
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.digital-bank > div:first-child p {
  font-size: 16px;
}

.digital-bank > div:first-child .store-buttons {
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
}

.digital-bank > div:first-child .store-buttons a {
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 0.1s ease-in-out;
  display: flex;
}

.digital-bank > div:first-child .store-buttons a:hover {
  background-color: #f9fafa;
}

.digital-bank > div:last-child img {
  max-height: 90%;
  position: absolute;
  object-fit: contain;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.digital-bank > div:last-child .paragraph-mobile {
  display: none;
}

.digital-bank > div:last-child .download-button-mobile {
  display: none;
}

.product-section,
.offers-section {
  margin: 36px 0px;
  padding-bottom: 50px;
}

.product-section .product-section-header {
  font-size: 15px;
  margin-bottom: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #141719;
}

.slider {
  display: flex;
  gap: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #182cc0 #d1d5d6; /* Firefox */
}

.arrowss {
  margin-top: 40px;
  grid-column-gap: 15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrowss > div svg {
  transition: fill 0.25s ease-in-out;
}

.arrowss > div {
  cursor: pointer;
}

.arrowss > div svg:hover {
  fill: #182cc0;
}

.slider::-webkit-scrollbar {
  height: 8px; /* Height of the scrollbar */
}

.slider::-webkit-scrollbar-track {
  background: #d1d5d6; /* Gray background of the scrollbar track */
}

.slider::-webkit-scrollbar-thumb {
  background-color: #182cc0; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.slider::-webkit-scrollbar-thumb:hover {
  background-color: #1a3e6d; /* Darker color on hover */
}

.card-title {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.slide {
  border-radius: 8px;
  width: 350px;
  flex: 1;
  box-sizing: border-box;
  padding: 0 10px;
  scroll-snap-align: center;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.slide-img-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.slide img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.slide-content {
  background-color: #f9fafa;
  border: 1px solid #e1e4e5;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide-content .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slide:hover .slide-content {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.slide img {
  transition: transform 0.25s ease-in-out;
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.slide:first-child .slide-img-wrapper img {
  max-width: 100%;
  height: 110%;
  border-radius: 10px 10px 0px 0px;
}

.slide:hover .slide-img-wrapper img {
  transform: translateY(-4px);
}

.slide .slide-img-wrapper {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  height: 50%;
}

.personal-banker {
  margin-top: 36px;
  margin-bottom: 36px;
  background-image: url("./images/personal-banker-section-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  max-width: 1110px;
  min-height: 360px;
  background-blend-mode: darken;
  color: #fff;
  border-radius: 6px;
  position: relative;
  z-index: 0;
}

.personal-banker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 0px -280px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.personal-banker .inner-container {
  width: 100%;
  z-index: 1;
  position: relative;
  flex-direction: column;
  display: flex;
  margin-left: 60px;
  gap: 15px;
}

.personal-banker .inner-container h2 {
  font-size: 27px;
  font-weight: 800;
}

.personal-banker .inner-container > p {
  font-size: 16px;
  font-weight: 400;
}

.trophy-section {
  margin: 50px 0px 120px;
  position: relative;
}

.trophy-section-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}
.trophy-section-header h2 {
  font-size: 24px;
  color: #141719;
  margin: 0;
}

.carousel-container {
  min-height: 300px;
  display: flex;
  gap: 20px;
  cursor: grab;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-color: #182cc0 #d1d5d6;
  scrollbar-width: thin;
  padding-bottom: 30px;
}

.carousel-container:active {
  cursor: grabbing;
}

.carousel-item {
  scroll-snap-align: center;
  flex: 0 0 350px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.3s ease;
  max-height: 100%;
  padding: 10px;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease;
  border: 0.5px solid #fff;
}

.carousel-item .carousel-item-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  display: flex;
}

.carousel-item-content
  > div:first-child:not(
    .offers-section .carousel-item-content > div:first-child
  ) {
  height: 52px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.carousel-item img:not(.offers-section .carousel-item img) {
  width: 129px;
  height: 52px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: contain;
}

.offers-section .trophy-section-header {
  justify-content: space-between;
  align-items: center;
}

.offers-section .trophy-section-header > a {
  color: #182cc0;
  display: flex;
  font-weight: 700;
  align-items: center;
  gap: 8px;
  transition: color 0.25s ease-in-out;
}

.offers-section .trophy-section-header > a svg {
  fill: #182cc0;
  vertical-align: middle;
  transition: fill 0.25s ease-in-out;
}

.offers-section .trophy-section-header > a:hover {
  color: #3295ce;
}

.offers-section .trophy-section-header > a:hover svg {
  fill: #3295ce;
}

.offers-section .carousel-item-content > div:first-child {
  height: 200px;
}

.offers-section .carousel-item .offer-carousel-image {
  width: 100%;
  position: relative;
}

.offers-section .carousel-item .offer-carousel-image .image-logo {
  width: 78px;
  position: absolute;
  top: 16px;
  background-color: white;
  height: 56px;
  overflow: hidden;
  right: 0;
  border-radius: 6px 0 0 6px;
}

.offers-section .carousel-item-content {
  padding: 0px;
}

.offers-section .carousel-item-content > div:last-child {
  margin-top: 5px;
  padding: 25px;
}

.offers-section .carousel-item-content > div:last-child > a {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.offers-section .carousel-item-content .offer-paragraph-box a {
  display: flex;
  gap: 10px;
}

.offers-section .carousel-item-content span {
  color: inherit;
  font-size: 12px;
  font-weight: 700;
}

.offers-section .carousel-container {
  min-height: 440px;
}

.offers-section .carousel-item {
  padding: 0px;
  scroll-snap-align: center;
  flex: 0 0 350px;
  min-height: 100%;
  background-color: #f9fafa;
  border-radius: 10px;
  transition: transform 0.3s ease;
  overflow: hidden;
  transition: box-shadow 0.4s ease-out, background-color 0.4s ease-out;
  border: 0.5px solid #cbcbcb;
}

.offers-section .carousel-item:nth-child(1) .offer-carousel-image {
  background-image: url("./images/offers-section-img-1.jpg");
}

.offers-section .carousel-item:nth-child(2) .offer-carousel-image {
  background-image: url("./images/offers-section-img-2.jpg");
}

.offers-section .carousel-item:nth-child(3) .offer-carousel-image {
  background-image: url("./images/offers-section-img-3.jpg");
}

.offers-section .carousel-item:nth-child(4) .offer-carousel-image {
  background-image: url("./images/offers-section-img-4.jpg");
}

.offers-section .carousel-item:nth-child(5) .offer-carousel-image {
  background-image: url("./images/offers-section-img-5.jpg");
}

.carousel-item .carousel-item-image .carousel-item-content {
  padding: 5px;
  display: flex;
  gap: 20px;
}

.carousel-item-content div:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel-item-content h3 {
  margin: 0 0 5px;
  font-size: 16px;
  color: #141719;
}

.carousel-item-content p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.carousel-item:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.09);
  border-color: #e8e8e8;
  background-color: #fff;
}

.carousel-container::-webkit-scrollbar {
  height: 8px;
}

.carousel-container::-webkit-scrollbar-track {
  background: transparent;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: #182cc0;
  border-radius: 10px;
}

.carousel-container::-webkit-scrollbar {
  height: 8px;
}
.carousel-container::-webkit-scrollbar-track {
  background: transparent;
}
.carousel-container::-webkit-scrollbar-thumb {
  background-color: #182cc0;
  border-radius: 10px;
}

.arrows {
  position: absolute;
  top: 5%;
  grid-column-gap: 15px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.arrow.inactive {
  color: #182cc0;
}

.offers-section .arrows {
  margin-top: 20px;
  position: static;
}

/* Footer styling */

footer {
  overflow: hidden;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.footer-container {
  overflow: hidden;
  padding: 0px 20px;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.footer-top {
  padding-top: 45px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top > div a {
  display: flex;
  height: 50px;
  color: #141719;
  align-items: center;
}

.footer-top > div:first-child a svg {
  width: 22px;
  fill: #141719;
  height: 22px;
  margin-right: 11px;
}

.footer-top > div a h1 {
  font-size: 1.5rem;
  font-size: 20px;
  position: relative;
  letter-spacing: 1px;
}

.footer-top > div a h1::before {
  content: "";
  min-height: 30px;
  width: 1px;
  top: 3px;
  left: -5px;
  position: absolute;
  background-color: #141719;
  margin-right: 8px;
  display: inline-block;
}

.footer-main {
  padding-bottom: 45px;
}

.footer-main .footer-main-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
}

.footer-dropdown-toggle a,
.footer-main-column:last-child > p,
.socials p {
  color: #141719;
  font-weight: 700;
}

.footer-dropdown-toggle .dropdown-arrow {
  display: none;
}

.footer-main-column {
  display: flex;
  flex-direction: column;
}

.footer-dropdown-toggle {
  margin-bottom: 24px;
}

.footer-main-column nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-main-column nav a,
.footer-main-column div:first-child a,
.footer-main-column:last-child p {
  font-size: 16px;
}

.footer-main-column nav a {
  transition: color 0.25s ease-in-out;
}

.footer-main-column nav a:hover,
.social-list a:hover,
.footer_bottom_links button:hover {
  color: #1629ae;
}

.footer-dropdown-list a:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contact-info {
  margin-top: 24px;
}
.footer-contact-info > a {
  display: flex;
  align-items: center;
  font-weight: 500;
  grid-column-gap: 10px;
}

.footer-contact-info > a > div svg {
  vertical-align: middle;
}

.footer-contact-info a:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contact-info > a:hover {
  text-decoration: underline;
}

.footer-dropdown-small-screen {
  display: none;
}

.social-list {
  margin-top: 20px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  display: flex;
}

.social-list a {
  transition: color 0.25s ease-in-out;
  width: 40px;
  height: 40px;
  background-color: #f9fafa;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  display: flex;
}

.social-list a:hover {
  background-color: #eeeeee;
}

.footer-bottom {
  padding: 28px 40px;
  border-top: 1px solid #eef1f1;
  font-size: 12px;
}

.footer_bottom_container {
  grid-column-gap: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_bottom_container > div:first-child {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
}

.footer_bottom_container > div svg {
  vertical-align: middle;
}

.footer_bottom_links {
  grid-column-gap: 35px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.footer_bottom_links button {
  transition: color 0.25s ease-in-out;
}

.cookie-wrapper {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 66px;
  left: 0;
  right: 0;
}

.cookie-box {
  width: 90%;
  max-width: 700px;
  grid-column-gap: 24px;
  background-color: #fff;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;

  pointer-events: auto;
  padding: 24px 32px;
  font-size: 12px;
  display: flex;
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
}

.cookie-box.accept {
  display: none;
  pointer-events: none;
}

.cookie-box .cookie-text {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cookie-text:hover span,
.cookie-text:hover svg {
  color: #3295ce;
  fill: #3295ce;
}

.cookie-text span {
  color: #182cc0;
  transition: color 0.25s ease-in-out;
  text-transform: uppercase;
  flex: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}

.cookie-text svg {
  fill: #182cc0;
  transition: fill 0.25s ease-in-out;
}

/* media queries */

@media screen and (max-width: 1439px) {
  .product-section {
    padding-bottom: 20px;
  }
  .slide {
    flex: none;
  }

  .slider {
    overflow-x: scroll;
    padding-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: #182cc0 #d1d5d6;
  }

  .slider::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
  }

  .arrowss,
  .arrows {
    display: none;
  }
}

@media screen and (min-width: 1269px) {
  .hero-section {
    background-position: center -285px;
  }
}

@media screen and (min-width: 992px) {
  .header-container {
    justify-content: flex-start;
  }

  .header-nav {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .site-header {
    padding-left: 45px;
    padding-right: 45px;
  }

  .button-box .language-box {
    display: none !important;
  }

  .main-container {
    padding: 0px 40px;
  }

  .hero-section,
  .personal-banker {
    justify-content: flex-end;
  }
  .hero-section .inner-container,
  .personal-banker .inner-container {
    margin-left: 18px;
    margin-bottom: 25px;
  }

  .data-section {
    grid-template-columns: 1fr;
  }

  .footer-top > div:last-child {
    background-color: #f9fafa;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    margin: 100px auto 0px;
    padding: 0px 20px;
  }

  .subscribe-concept p {
    font-size: 28px;
  }

  .kit-section .kit-grid {
    grid-column-gap: 16px;
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    overflow: auto;
  }

  .kit-section .kit-grid > div {
    flex: 0 0 auto;
    width: 80%;
    scroll-snap-align: start;
  }

  .kit-section .kit-grid > div::before {
    background-size: cover;
    background-position: center;
  }

  .kit-section .kit-grid > div:nth-child(1) {
    order: 1;
  }

  .kit-section .kit-grid > div:nth-child(2) {
    order: 3;
  }

  .kit-section .kit-grid > div:nth-child(3) {
    order: 2;
  }

  .hamburger-menu-container {
    display: flex;
  }

  .header-container > a h1,
  .footer-top > div a h1 {
    display: none;
  }
  .header-container > a svg,
  .footer-top > div:first-child a svg {
    width: 36px;
    height: 32px;
  }

  .hero-section {
  }

  .footer-dropdown-toggle .dropdown-arrow {
    display: block;
  }
  .hero-section .inner-container,
  .personal-banker .inner-container {
    margin-left: 0px;
    gap: 10px;
  }

  .hero-section .inner-container h1,
  .personal-banker .inner-container h1 {
    font-size: 20px;
  }
  .hero-section .inner-container > p,
  .personal-banker .inner-container > p {
    font-size: 14px;
  }

  .digital-bank {
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }

  .digital-bank > div:first-child p {
    display: none;
  }

  .digital-bank > div:first-child .store-buttons {
    display: none;
  }
  .digital-bank > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .digital-bank > div:last-child img {
    position: static;
  }

  .digital-bank > div:last-child .paragraph-mobile {
    display: block;
  }
  .digital-bank > div:last-child .download-button-mobile {
    display: flex;
    color: #182cc0;
    border: 1px solid #182cc0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
  }

  .digital-bank > div:last-child .download-button-mobile div {
    display: flex;
    gap: 4px;
  }

  .footer-top {
    padding-bottom: 80px;
    height: 130px;
  }

  .footer-main .footer-main-inner {
    grid-template-columns: 1fr;
    gap: px;
  }

  .footer-dropdown-toggle {
    grid-column-gap: 36px;
    justify-content: space-between;
    align-items: center;
    padding: 36px 45px;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    height: 100px;
    margin-top: -40px;
    margin-right: -40px;
    margin-left: -40px;
    border-bottom: 1px solid #d1d5d6;
    transition: height 0.5s ease-in-out;
  }

  .footer-main-column:first-child .footer-dropdown-toggle {
    border-top: 1px solid #d1d5d6;
  }

  .footer-dropdown-toggle {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .footer-dropdown-toggle div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .footer-dropdown-toggle div:first-child svg {
    vertical-align: middle;
    transition: transform 0.4s ease-in-out;
  }

  .footer-dropdown-toggle.clicked {
    height: 200px;
  }

  .footer-dropdown-toggle.clicked .footer-dropdown-small-screen {
    opacity: 1;
    pointer-events: auto;
  }

  .footer-dropdown-toggle.clicked div:first-child svg {
    transform: rotate(180deg);
  }

  .footer-dropdown-toggle .footer-dropdown-small-screen {
    display: flex;
    align-items: flex-start;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    left: 45px;
    top: 80px;
    flex-direction: column;
    width: 100%;
  }

  .footer-dropdown-toggle .footer-dropdown-small-screen a {
    color: inherit;
    font-weight: 400;
    padding-top: 20px;
  }

  .footer-dropdown-list a:not(:last-child) {
    margin-bottom: 0px;
  }

  .footer-contact-info p {
    font-size: 14px !important;
  }

  .footer-dropdown-toggle a:not(.footer-dropdown-small-screen a),
  .footer-main-column:last-child > p,
  .socials p {
    font-size: 24px !important;
  }

  .footer-main-column nav {
    display: none;
  }

  .social-list {
    gap: 15px;
  }

  .social-list a {
    width: 50px;
    height: 50px;
  }

  .footer-bottom {
    background-color: #f9fafa;
  }

  .footer_bottom_container {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: flex-start;
  }

  footer.clicked {
    margin-top: 80px;
  }

  footer.clicked .footer-top {
    display: none;
  }

  footer.clicked .footer-dropdown-toggle a:not(.footer-dropdown-small-screen a),
  footer.clicked .footer-main-column:last-child > p,
  footer.clicked .socials p {
    font-size: 17px !important;
  }

  footer.clicked .footer-main-column:first-child .footer-flex-container {
    padding-top: 30px;
  }

  .footer-main-column .footer-dropdown-small-screen .mobile-link {
    display: none;
  }

  footer.clicked
    .footer-main-column
    .footer-dropdown-small-screen
    .mobile-link {
    display: block;
  }

  footer.clicked .footer-dropdown-toggle.clicked {
    height: 240px;
  }

  footer.clicked
    .footer-main-column:nth-child(3)
    .footer-dropdown-toggle.clicked {
    height: 280px;
  }

  .sidebar {
    width: 100%;
    height: 100%;
  }

  .sidebar .sidebar-top {
    margin: 32px 20px;
  }

  .sidebar-top h2 {
    font-size: 16px;
  }

  .sidebar-main {
    padding: 30px 15px 32px;
  }

  .textfield {
    height: 112px;
  }

  .cookie-box {
    bottom: 24px;
  }
}

@media screen and (max-width: 479px) {
  .site-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .subscribe-concept {
    padding: 50px 0px;
  }

  .subscribe-concept p {
    font-size: 24px;
  }

  .upper-section svg {
    display: block;
  }

  .kit-section .heading-wrapper h2 {
    font-size: 14px;
  }
  .kit-section .heading-wrapper {
    margin-bottom: 23px;
  }

  .kit-section .kit-grid div h3 {
    font-size: 16px !important;
  }
  .kit-section .kit-grid div p {
    font-size: 12px !important;
  }

  .kit-section .kit-grid > div > a {
    padding: 30px;
  }

  .carousel-container {
    gap: 15px;
  }

  .carousel-item {
    flex: 0 0 300px;
  }
}

@media screen and (min-width: 769px) {
  .hero-section .inner-container,
  .personal-banker .inner-container {
    align-items: flex-start;
  }
}
